# Configurações do Projeto
PROJECT_NAME="SIGPS - Sistema Inteligente de Gestão e Priorização na Saúde"
API_V1_STR=/api/v1

# Segurança
SECRET_KEY=sua_chave_secreta_super_segura_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 dias

# Banco de Dados (MySQL)
DB_HOST=localhost
DB_PORT=3307
DB_USER=sigps
DB_PASSWORD=sigps_pass
DB_NAME=sigps_db